@font-face {
    font-family: 'Gilroy';
    src: url('/static/fonts/Gilroy/Gilroy-Medium.ttf');
}

@font-face {
    font-family: 'Dustries';
    src: url('/static/fonts/Dustries Font/dustries-demo.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    height: 100%;
    width: 100%;
}

.admin-page {
    min-height: 100vh;
    background-attachment: fixed;
    background-image: url("/static/images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#heading {
    font-family: Dustries;
    font-size: 3vw;
    letter-spacing: 4.5px;
    color: #ffffff;
    text-transform: uppercase;
}

.admin-page::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: -1;
}


.container {
    background: rgba(0, 0, 0, 0.466);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

h2 {
    color: #000000;
}

.admin-title {
    font-size: 18px;
    color: #979797;
    display: inline-block;
    margin-top: -1px;
}


.table {
    border-radius: 10px;
    overflow: hidden;
}

.units {
    color: #000000;
}


.btn {
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.btn-back,
.btn-danger {
    min-width: 150px;
    padding: 8px 15px;
    border-radius: 8px;
    text-align: center;
}

.btn-danger:hover {
    transform: scale(1.08);;
}

.btn-back {
    background-color: #218838;
    color: white;
    border: none;
}

.btn-back:hover {
    background-color: #28a745;
    color: white;
    transform: scale(1.08);
}

.btn-primary:hover {
    transform: scale(1.08);
}

.btn-dlt {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #ffffff;
    border: none;
    min-width: 95px;
    padding: 8px 15px;
    text-align: center;
}

.btn-dlt:hover {
    background-color: #005cb2d7;
    color: #ffffff;
    transform: scale(.90);;
}
